/* glassy calculator with a linear gradient background*/
/* With numbers traveling in a cosine fashion */

.grid-body {
    display:grid;
    min-height: 100%; /* Make the div box taller than the parent class */
    margin-top: 100px;
    grid-template-columns: 65px 65px 65px 65px;
    grid-template-rows: 80px 80px 80px 80px;
    padding:10px;
    margin-left: 40%;
    
    

}
.grid-item {
    text-align: center;
    font-size:25px;
    padding:20px;
    background-color: rgba(255, 255, 255, 0.8);
    background:rgba(255, 255, 255, 0.151);
}
 #screen {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 1;
}
#long {
    padding:10px;
    padding-top: 20px;
}

.background {
    overflow-y: hidden;
    min-height: 100%;
    margin-bottom: 0%;
    background-image: linear-gradient( #DC143C,#0000FF);
    
}
.background-adjust {
    margin-bottom: 15.7%;
}

